config UDC_ZYNQ
	bool "Xlnx Zynq USB device controller driver"
	default y
	depends on DT_HAS_XLNX_ZYNQ_USB_ENABLED
	help
	  Xlnx Zynq USB device controller driver.

config UDC_ZYNQ_STACK_SIZE
	int "UDC controller driver internal thread stack size"
	depends on UDC_ZYNQ
	default 512
	help
	  Skeleton device controller driver internal thread stack size.

config UDC_ZYNQ_THREAD_PRIORITY
	int "Skeleton controller driver thread priority"
	depends on UDC_ZYNQ
	default 8
	help
	  Skeleton device controller driver thread priority.

config UDC_ZYNQ_MAX_QMESSAGES
	int "UDC ZYNQ maximum number of ISR event messages"
	depends on UDC_ZYNQ
	range 4 64
	default 8
	help
	  zynq maximum number of ISR event messages.

config UDC_ZYNQ_TIMEOUT
	int "UDC ZYNQ timeout in counter"
	depends on UDC_ZYNQ
	default 10000
	help
	  while prime or reset, we check status by polling, 
	  this is the trival timeout counter init value.