#
# Copyright (c) 2021 Weidmueller Interface GmbH & Co. KG
# SPDX-License-Identifier: Apache-2.0
#

if SOC_FAMILY_XILINX_ZYNQ7000

config SOC_XLNX_ZYNQ7000_L2_CACHE
	bool "Enable the Zynq-7000 PL310 L2 cache"
	default y
	depends on DCACHE && ARM_AARCH32_MMU
	select CACHE_MANAGEMENT
	select CACHE
	help
	  Enable the shared PL310 before secondary CPUs start and include outer
	  cache maintenance in the cache API. Disable for cache performance comparisons.

rsource "*/Kconfig"

endif # SOC_FAMILY_XILINX_ZYNQ7000
