# Copyright (c) 2025 Moton Intelligent Equipment
# SPDX-License-Identifier: Apache-2.0

config SPI_XLNX_ZYNQ_QSPI
	bool "Xilinx Zynq-7000 PS QSPI controller"
	default y
	depends on DT_HAS_XLNX_ZYNQ_QSPI_ENABLED
	help
	  SPI controller driver for the Zynq-7000 PS Quad-SPI flash
	  interface at 0xE000D000. Uses polling mode. Pair with
	  jedec,spi-nor child node for flash access.
