config XLNX_ZYNQ_SDHC
    bool "XLNX Zynq SDHC Driver"
    depends on DT_HAS_XLNX_ZYNQ_SDHC_ENABLED
    help
	    Enable the XLNX Zynq SDHC Host Controller Driver.

if XLNX_ZYNQ_SDHC
config XLNX_ZYNQ_SDHC_HOST_INTR
	bool "EMMC host controller interrupt mode"
	default y
	help
	  EMMC host controller interrupt mode support.

config XLNX_ZYNQ_SDHC_HOST_DMA
	bool "EMMC host controller DMA mode"
	help
	  EMMC host controller DMA mode support.

config XLNX_ZYNQ_SDHC_HOST_ADMA
	bool "EMMC host controller ADMA mode"
	depends on XLNX_ZYNQ_SDHC_HOST_DMA
	help
	  EMMC host controller ADMA mode support.

config XLNX_ZYNQ_SDHC_HOST_ADMA_DESC_SIZE
	int "EMMC host controller ADMA Descriptor size"
	depends on XLNX_ZYNQ_SDHC_HOST_ADMA
	default 32
	help
	  EMMC host controller ADMA Descriptor size.

config XLNX_ZYNQ_SDHC_HOST_AUTO_STOP
	bool "auto stop command mode"
	default y
	help
	  Auto stop command mode support.

config XLNX_ZYNQ_SDHC_HOST_TUNING
	bool "Host tuning"
	help
	  Host tuning support.

endif